html.wrapper
{
    background-image: url("images/KU.png");
    /* background-repeat: repeat-y; */
}

h1, h2
{
    text-align: center;
    background-color: rgb(9, 133, 250);
}

div.button-group
{
    text-align: center;
}


button
{
    background-color: #26bdf0;
    font-size: 24px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 16px;
}

button
{
    transition-duration: 0.4s;
}
  
button:hover
{
    background-color: darkblue; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* 
I got these CSS styles from this website not my own.
https://www.w3schools.com/css/css3_buttons.asp 
*/